---
import { BASE_URL } from "@config/consts";
export interface Props {
	autoria: string;
	pubDate: Date;
	anio?: string;
	escuela?: string;
	curso?: string;
	tags?: string[];
}

const { autoria, pubDate, tags } = Astro.props;
---

<article
	class="articulo-de-un-haiku p-4 text-atomic_tangerine dark:text-rose_gold prose prose-p:text-atomic_tangerine prose-p:font-bold prose-p:text-3xl prose-p:drop-shadow-lg dark:prose-p:text-rose_gold"
>
	<div class="haiku">
		<slot />
	</div>
	<address data-pagefind-meta=`autoria:${autoria}`>
		Por <a href={`${BASE_URL}/autores/${autoria}`} class="no-underline text-inherit">{autoria}</a>
	</address>
	<div>
		<time datetime={pubDate.toDateString()} title={pubDate.toDateString()}>
			{pubDate.toLocaleDateString()}
		</time>
	</div>

	<div class="font-bold">
		{
			tags &&
				tags.length > 0 &&
				tags.map((tag) => (
					<a class="no-underline text-inherit" href={`${BASE_URL}/etiquetas/${tag}`}>
						#{tag}{" "}
					</a>
				))
		}
	</div>
</article>

<style is:global>
	.articulo-de-un-haiku {
		container-name: articulo-de-un-haiku;
		container-type: size;
	}

	@container articulo-de-un-haiku (max-width: 256px) {
		.haiku > p {
			font-size: 1.25rem;
			line-height: calc(1.75 / 1.25);
		}
	}
</style>
