---
import { BASE_URL } from "@config/consts";
export interface Props {
	autoria: string;
	pubDate: Date;
	anio?: string;
	escuela?: string;
	curso?: string;
	tags?: string[];
}

const { autoria, pubDate, tags } = Astro.props;
---

<article
	class="p-4 text-atomic_tangerine dark:text-rose_gold prose prose-p:text-atomic_tangerine prose-p:font-bold prose-p:text-2xl mb-4 prose-p:drop-shadow-lg dark:prose-p:text-rose_gold"
>
	<slot />
	<address data-pagefind-meta=`autoria:${autoria}`>
		Por <a href={`${BASE_URL}/autores/${autoria}`} class="no-underline text-inherit">{autoria}</a>
	</address>
	<div>
		<time datetime={pubDate.toDateString()} title={pubDate.toDateString()}>
			{pubDate.toLocaleDateString()}
		</time>
	</div>

	<div class="font-bold">
		{
			tags &&
				tags.length > 0 &&
				tags.map((tag) => (
					<a class="no-underline text-inherit" href={`${BASE_URL}/etiquetas/${tag}`}>
						#{tag}{" "}
					</a>
				))
		}
	</div>
</article>
