---
<<<<<<< HEAD
export function getStaticPaths() {
  return [
    {params: {dog: 'clifford'}},
    {params: {dog: 'rover'}},
    {params: {dog: 'spot'}},
  ];
}

const { dog } = Astro.params;
---
=======
import { getCollection } from "astro:content";
import SeccionParaCadaHaikuReel from "@layouts/seccion-para-cada-tarjeta-reel.astro";
import TarjetaParaCadaHaiku from "@components/tarjeta-para-cada-haiku/index.astro";
import BgOrigamis from "@backgrounds/bg-origamis/index.astro";
import BgJ from "@backgrounds/bg-j/index.astro";
import BgTemplo from "@backgrounds/bg-templo/index.astro";

const fondosArtisticos = [BgOrigamis, BgJ, BgTemplo];
const haikus = await getCollection("haikus");
const haikusRenders = await Promise.all(haikus.map(async (haiku) => await haiku.render()));
---

<html>
  <head>
    <title>Galería de Haikus</title>
  </head>
  <body>
    <h1>Galería de Haikus</h1>
    <div>
      {haikus.map(({ slug, data }, index) => {
        const FondoArtistico = fondosArtisticos[index % fondosArtisticos.length];
        return (
          <SeccionParaCadaHaikuReel>
            <FondoArtistico>
              <TarjetaParaCadaHaiku autoria={data.autoria} pubDate={data.pubDate}>
                <a href={`/haikus/${slug}`}>
                  <h3>{data.autoria}</h3>
                  <p>{data.pubDate}</p>
                </a>
              </TarjetaParaCadaHaiku>
            </FondoArtistico>
          </SeccionParaCadaHaikuReel>
        );
      })}
    </div>
  </body>
</html>

>>>>>>> e62a954113a7a102916d8a731d0bf6d3fc4b9023
