---
export interface Props {
	autoria: string;
	pubDate: Date;
	anio?: string;
	escuela?: string;
	curso?: string;
	tags?: string[];
}

const { autoria, pubDate, tags } = Astro.props;
---

<div class="p-4 text-atomic_tangerine dark:text-rose_gold">
	<div
		class="tablet:text-tablet laptop:text-laptop desktop:text-desktop prose prose-p:text-atomic_tangerine prose-p:font-bold prose-p:text-4xl mb-4 prose-p:drop-shadow-lg dark:prose-p:text-rose_gold"
	>
		<slot />
	</div>
	<address data-pagefind-meta="title" class="inline">
		Por {autoria}
	</address>
	<div>
		<time class="italic" datetime={pubDate.toDateString()} title={pubDate.toDateString()}>
			{pubDate.toLocaleDateString()}
		</time>
	</div>
	{
		tags && tags.length > 0 && (
			<div class="font-bold">
				Etiquetas:{" "}
				{tags.map((tag) => (
					<span class="mr-1">#{tag}</span>
				))}
			</div>
		)
	}
</div>
