---
export interface Props {
	autoria: string;
	pubDate: Date;
	anio?: string;
	escuela?: string;
	curso?: string;
	tags?: string[];
}

const { autoria, pubDate, tags } = Astro.props;
---

<div class="p-4 text-atomic_tangerine dark:text-rose_gold">
	<div
		class="tablet:text-tablet laptop:text-laptop desktop:text-desktop prose prose-p:text-atomic_tangerine prose-p:font-bold prose-p:text-4xl mb-4 prose-p:drop-shadow-lg dark:prose-p:text-rose_gold"
	>
		<slot />
	</div>
	<address data-pagefind-meta="title" class="inline">
		Por {autoria}
	</address>
	<time class="italic" datetime={pubDate.toDateString()} title={pubDate.toDateString()}>
		{pubDate.toLocaleDateString()} 
	</time>
	<div class="mb-3 text-1xl font-roboto-negrita font-medium text-atomic_tangerine dark:text-rose_gold">
		<address data-pagefind-meta="title" class="inline">
			Etiquetas: {tags}
		</address>
	</div>
</div>
