---
import MenuDots from "./menu-dots.astro";
import MenuInfo from "./menu-info.astro";
import MenuMode from "./menu-mode.astro";
import MenuSearch from "./menu-search.astro";
import MenuBook from "./menu-book.astro";
import MenuHome from "./menu-home.astro";

const color = "#fd9678ff";
---

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const button = document.getElementById("menu-button") as HTMLButtonElement | null;

		if (button) {
			button.addEventListener("click", () => {
				const menu = document.getElementById("menu") as HTMLElement | null;

				if (menu) {
					// Toggle visibility by adding or removing the 'hidden' class
					menu.classList.toggle("hidden");
				}
			});
		}
	});
</script>

<div class="relative h-[7%]">
	
	<div class="flex justify-end items-start pt-3 pb-3 pl-3 pr-0 ">
		<button
			id="menu-button"
			class="menu-button text-atomic_tangerine text-3xl w-8 h-12 dark: text-rose_gold"
		>
			<MenuDots fill={color} />
		</button>
	</div>
	
	<div
		id="menu"
		class="hidden absolute right-3 top-8 mt-8 bg-deft-blue text-atomic_tangerine rounded-lg  dark: text-rose_gold"
	>
		<ul id="opciones" class="flex flex-col space-y-4">
			<li><MenuInfo fill={color} /></li>
			<li><MenuMode/></li>
			<li><MenuSearch fill={color} /></li>
			<li><MenuBook fill={color} /></li>
			<li><MenuHome fill={color} /></li>
		</ul>
	</div>
</div>
